[include]
path = ~/GoogleDrive/dotfiles/.gitconfig_for_secret

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[diff "xlsx"]
  binary = true
  textconv = $GOPATH/bin/git-xlsx-textconv
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Matts966
	email = "Matts966@users.noreply.github.com "
[grep]
	lineNumber = true
